@model IEnumerable<WebStore.Domain.WebModels.SectionWebModel>

<h2>Категории</h2>

<div class="panel-group category-products" id="accordian">
    <!--category-products-->
    @foreach (var parent in Model)
    {
        if (parent.Children.Count > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#@parent.GetHashCode()">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @parent.Name
                        </a>
                    </h4>
                </div>
                <div id="@parent.GetHashCode()" class="panel-collapse collapse @(parent.Id == ViewBag.ParentSectionId ? "in" : null)">
                    <div class="panel-body">
                        <ul>
                            @foreach (var child in parent.Children)
                            {
                            <li @(child.Id == ViewBag.SectionId ? "class=active" : null)>
                                <a asp-controller="Catalog" asp-action="Index" asp-route-sectionId="@child.Id">
                                    <span class="pull-right">(@child.CountProduct)</span>
                                    @child.Name
                                </a>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title @(parent.Id == ViewBag.SectionId ? "active" : null)">
                        <a asp-controller="Catalog" asp-action="Index" asp-route-sectionId="@parent.Id">
                            <span class="pull-right">(@parent.CountProduct)</span>
                            @parent.Name
                        </a>
                    </h4>
                </div>
            </div>
        }
    }

</div><!--/category-products-->
