@model WebStore.Models.Worker

<div class="container">
    <h1>Детальные данные по сотруднику</h1>
    <hr />
    <a href="/">Главная страница</a> / <a href="/Workers/">Все сотрудники магазина</a>
    <hr />
    <p>Идентификатор: @Model.Id</p>
    <p>Фамилия: @Model.LastName</p>
    <p>Имя: @Model.FirstName</p>
    <p>Отчество: @Model.Patronymic</p>
    <p>Возраст: @Model.Age лет</p>
    <p>Дата рождения: @Model.Birthday</p>
    <p>Дата трудоустройства: @Model.EmploymentDate</p>
    <p>Количество детей: @Model.CountClildren штук</p>
</div>

