@model IEnumerable<WebStore.Models.Worker>

<div class="container">
    <h1>Сотрудники магазина</h1>
    <hr />
    <a href="/">Главная страница</a>
    <hr />
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var worker in Model)
            {
                <tr>
                    <td>@worker.Id</td>
                    <td>@worker.LastName</td>
                    <td>@worker.FirstName</td>
                    <td>@worker.Patronymic</td>
                    <td>@worker.Age</td>
                    <td>@Html.ActionLink("Детали", "Details", new { Id = worker.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

