@model IEnumerable<IEnumerable<WebStore.Domain.WebModels.ProductWebModel>>
<div class="category-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tshirt" data-toggle="tab">Рубашки</a></li>
            <li><a href="#dresses" data-toggle="tab">Платья</a></li>
            <li><a href="#costumes" data-toggle="tab">Костюмы</a></li>
        </ul>
    </div>
    <div class="tab-content">

        <div class="tab-pane fade active in" id="tshirt">
            @foreach (var product in Model.First().Take(4))
            {
                <div class="col-sm-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/images/shop/@product.ImageUrl" alt="@product.Name" height="200"/>
                                <h2>@product.Price.ToString("C")</h2>
                                <p>@product.Name</p>
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id"
                                   data-id="@product.Id"
                                   class="btn btn-default add-to-cart">
                                    <i class="fa fa-shopping-cart"></i>В корзину
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="tab-pane fade" id="dresses">
            @foreach (var product in Model.Skip(1).First().Take(4))
            {
                <div class="col-sm-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/images/shop/@product.ImageUrl" alt="@product.Name" height="200" />
                                <h2>@product.Price.ToString("C")</h2>
                                <p>@product.Name</p>
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id"
                                   data-id="@product.Id"
                                   class="btn btn-default add-to-cart">
                                    <i class="fa fa-shopping-cart"></i>В корзину
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="tab-pane fade" id="costumes">
            @foreach (var product in Model.Skip(2).First().Take(4))
            {
                <div class="col-sm-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/images/shop/@product.ImageUrl" alt="@product.Name" height="200" />
                                <h2>@product.Price.ToString("C")</h2>
                                <p>@product.Name</p>
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id"
                                   data-id="@product.Id"
                                   class="btn btn-default add-to-cart">
                                    <i class="fa fa-shopping-cart"></i>В корзину
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div><!--/category-tab-->
